<h1>Alexa Skills</h1>

<h4>Categories:</h4>

<%= link_to 'Business & Finance', application_business_and_finance_alexa_skills_path %>
</br>
<%= link_to 'Communication', application_communication_alexa_skills_path %>
</br>
<%= link_to 'Connected Car', application_connected_car_alexa_skills_path %>
</br>
<%= link_to 'Education & Reference', application_education_and_reference_alexa_skills_path %>
</br>
<%= link_to 'Food & Drink', application_food_and_drink_alexa_skills_path %>
</br>
<%= link_to 'Games, Trivia & Accessories', application_games_trivia_and_accessories_alexa_skills_path %>
</br>
<%= link_to 'Health & Fitness', application_health_and_fitness_alexa_skills_path %>
</br>
<%= link_to 'Lifestyle', application_lifestyle_alexa_skills_path %>
</br>
<%= link_to 'Local', application_local_alexa_skills_path %>
</br>
<%= link_to 'Movies & TV', application_movies_and_tv_alexa_skills_path %>
</br>
<%= link_to 'Music & Audio', application_music_and_audio_alexa_skills_path %>
</br>
<%= link_to 'News', application_news_alexa_skills_path %>
</br>
<%= link_to 'Novelty & Humor', application_novelty_and_humor_alexa_skills_path %>
</br>
<%= link_to 'Productivity', application_productivity_alexa_skills_path %>
</br>
<%= link_to 'Shopping', application_shopping_alexa_skills_path %>
</br>
<%= link_to 'Smart Home', application_smart_home_alexa_skills_path %>
</br>
<%= link_to 'Social', application_social_alexa_skills_path %>
</br>
<%= link_to 'Travel & Transportation', application_travel_and_transportation_alexa_skills_path %>
</br>
<%= link_to 'Utilities', application_utilities_alexa_skills_path %>
</br>
<%= link_to 'Weather', application_weather_alexa_skills_path %>
</br>
